<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Create New Documentation</h1>
                <small>A document is the minimal unit for knowledge bases, it groups small amounts of useful information</small>
                <hr>
                <form ng-submit="vm.update()" role="form">
                    <div class="form-group row">
                        <div class="col-sm-6 col-xs-12">
                            <label for="kb">Knowledge Base</label>
                            <input id="kb" type="text" class="form-control" name="kb" ng-model="vm.kb.name" disabled>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <label for="folder">Folder</label>
                            <input id="folder" type="text" class="form-control" name="folder" ng-model="vm.folder.name" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Document Name</label>
                        <input required id="name" type="text" maxlength="70" class="form-control" name="name" ng-model="vm.document.name" placeholder="Amazingly Informative Document" onkeypress="return validateGeneric(event)">
                    </div>
                    <div class="form-group">
                        <label for="description">Description <small class="text-secondary">(Optional)</small></label>
                        <input id="description" maxlength="140" type="text" class="form-control" name="description" ng-model="vm.document.description" placeholder="This is a really informative documents that guides you through some process" onkeypress="return validateGeneric(event)">
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea required name="content" id="content" class="form-control" ng-model="vm.document.content" cols="30" rows="30"></textarea>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-tag"></i>
                                    </span>
                                </span>
                                <input id="tags" name="tags" maxlength="20" class="form-control" type="text" ng-model="vm.tag" placeholder="Write a Tag" onkeypress="return validateGeneric(event)">
                                <span class="input-group-append">
                                    <a href="" class="btn btn-secondary" ng-click="vm.addTag()">
                                        <i class="fa fa-plus"></i>
                                        Add Tag
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <span class="badge badge-light m-1 border" ng-repeat="tag in vm.document.tags">
                                {{ tag }}
                                <i class="fa fa-close" ng-click="vm.removeTag(tag)"></i>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="text-right">
                        <a href="" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</a>
                        <a href="{{ '#!/document/' + vm.document.id }}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade options-modal" id="deleteModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form ng-submit="vm.deleteDocument()" role="form">
                <div class="modal-header">
                    <h6 class="modal-title">Delete Document</h6>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this document?</p>
                </div>
                <div class="modal-footer">
                    <button ng-disabled="vm.dataLoading" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" ng-disabled="vm.dataLoading" class="btn btn-danger">
                        <div ng-if="vm.dataLoading">
                            <i class="fa fa-spinner fa-pulse"></i>
                        </div>
                        <div ng-if="!vm.dataLoading">
                            Delete
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#content').froalaEditor({
            enter: $.FroalaEditor.ENTER_P,
        })
    });
</script>