<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="join">
                    <h1>Join KBM</h1>
                    <br>
                    <p>The best way to manage knowledge.</p>
                    <form name="form" ng-submit="vm.register()" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-asterisk" style="width:15px;"></i>
                                    </span>
                                </div>
                                <input required type="text" maxlength="20" class="form-control" id="first-name" ng-model="vm.user.first_name" placeholder="First Name" ng-keyup="vm.validateName($event)" onkeypress="return validateName(event)">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-asterisk" style="width:15px;"></i>
                                    </span>
                                </div>
                                <input required type="text" maxlength="20" class="form-control" id="last-name" ng-model="vm.user.last_name" placeholder="Last Name" ng-keyup="vm.validateName($event)" onkeypress="return validateName(event)">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i ng-class="vm.usernameLoading" style="width:15px;"></i>
                                    </span>
                                </div>
                                <input required type="text" maxlength="20" ng-class="vm.usernameFormClass" id="username" ng-model="vm.user.username" ng-keyup="vm.validateUsername($event)" placeholder="Username" onkeypress="return validateUsername(event)">
                            </div>
                            <small ng-class="vm.uNoteClass">{{ vm.uMessage }}</small>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i ng-class="vm.emailLoading" style="width:15px;"></i>
                                    </span>
                                </div>
                                <input required type="email" name="email" maxlength="60" ng-class="vm.emailFormClass" id="email" ng-model="vm.user.email" placeholder="Email" ng-keyup="vm.validateEmail($event)" onkeypress="return validateEmail(event)">
                            </div>
                            <small ng-class="vm.eNoteClass">{{ vm.eMessage }}</small>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i ng-class="vm.passwordLoading" style="width:15px;"></i>
                                    </span>
                                </div>
                                <input required type="password" maxlength="20" ng-class="vm.passwordFormClass" id="password" ng-model="vm.user.password" placeholder="Password" ng-keyup="vm.validatePassword($event)">
                            </div>
                            <small ng-class="vm.pNoteClass">{{ vm.pMessage }}</small>
                        </div>
                        <hr>
                        <p>By pressing "Create user" you are agreeing to our <a href="#">Terms of Service</a>.</p>
                        <hr>
                        <button type="submit" ng-disabled="vm.dataLoading || !(vm.firstNameIsValid && vm.lastNameIsValid && vm.usernameIsValid && vm.emailIsValid && vm.passwordIsValid)" class="btn btn-primary">
                            <div ng-if="vm.dataLoading">
                                <i class="fa fa-spinner fa-pulse"></i>
                            </div>
                            <div ng-if="!vm.dataLoading">
                                Create user
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>