<style>
    body {
        background-color: #f7f7f7;
    }
</style>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="recover">
                    <h1>Change Password</h1>
                    <br>
                    <div class="card">
                        <form>
                            <div class="card-body">
                                <p>Please type your new password below.</p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-key" style="width:15px;"></i>
                                            </span>
                                        </div>
                                        <input maxlength="20" required type="password" class="form-control" id="pass" placeholder="Password" ng-model="vm.pass" ng-keyup="vm.validatePassword($event)" onkeypress="return validateUsername(event)" ng-blur="vm.hidePopover($event)">
                                    </div>

                                    <small style="color: #747474;">Make sure your new password contains:
                                        a capital letter, a lower case letter, a number and is at least 8 characters long.
                                    </small>
                                </div>
                                <button ng-disabled="vm.dataLoading || !vm.isValid" class="btn btn-primary btn-block" ng-click="vm.change()">
                                    <div ng-if="vm.dataLoading">
                                        <i class="fa fa-spinner fa-pulse"></i>
                                    </div>
                                    <div ng-if="!vm.dataLoading">
                                        Change Password
                                    </div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>